#!/usr/bin/env bash
# This file is loaded with `direnv`.
# It enters you into the poetry venv, removing the need for `poetry run`.

if command -v nix >/dev/null; then
    use flake || use nix -p poetry
fi

# Instead of using the flake, we use poetry to manage a development venv
# We only use poetry2nix for deployment

# create venv if it doesn't exist
poetry run true
# enter venv
export VIRTUAL_ENV=$(poetry env info --path)
export POETRY_ACTIVE=1
PATH_add "$VIRTUAL_ENV/bin"

if ! command -v sanic >/dev/null; then
    poetry install
fi
